// =====================================
//
//             2SLOW PROJECT
//
// =====================================

.tooslow-content-container {
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: 5rem minmax(10rem, auto) 20rem repeat(6, auto);
   grid-template-columns: minmax($min-width, 100%);

   // border: 2px solid yellow;
}

.tooslow-title {
   grid-row: 2/3;
   grid-column: 1/2;
}

.tooslow-images {
   grid-row: 3/4;
   grid-column: 1/2;
}

.tooslow-info-1 {
   grid-row: 4/5;
   grid-column: 1/2;
}

.tooslow-info-2 {
   grid-row: 5/6;
   grid-column: 1/2;
}

.tooslow-info-3 {
   grid-row: 6/7;
   grid-column: 1/2;
}

.tooslow-footer {
   grid-row: 7/8;
   grid-column: 1/2;
}
