// =====================================
//
//             2SLOW PROJECT
//
// =====================================

.tooslow-content-container {
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: 5rem minmax(auto, 9rem) 20rem repeat(6, auto);
   grid-template-columns: minmax($min-width, $max-width);

   // border: 2px solid yellow;
}

// When width < 30rem
@media (max-width: 30rem) {
   .tooslow-content-container {
      grid-template-rows: 5rem minmax(auto, 9rem) 16rem repeat(6, auto);
   }
}

.tooslow-title {
   grid-row: 2/3;
   grid-column: 1/2;
}

.tooslow-title-area {
   display: flex;
   h4 {
      margin-left: 1rem;
      color: $secondary-color;
   }
}

.tooslow-images {
   grid-row: 3/4;
   grid-column: 1/2;
}

.tooslow-info-1 {
   grid-row: 4/5;
   grid-column: 1/2;
}

.tooslow-info-2 {
   grid-row: 5/6;
   grid-column: 1/2;
}

.tooslow-info-3 {
   grid-row: 6/7;
   grid-column: 1/2;
}

.tooslow-footer {
   grid-row: 7/8;
   grid-column: 1/2;
}
