// =====================================
//
//             2SLOW PROJECT
//
// =====================================

.tooslow-content-container {
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: 5rem minmax(10rem, auto) repeat(6, auto);
   grid-template-columns: minmax($min-width, 100%);

   // border: 2px solid yellow;
}

.tooslow-title {
   grid-row: 2/3;
   grid-column: 1/2;
   height: 100%;
   padding: 2rem 1rem;

   display: flex;
   justify-content: space-between;
   align-items: center;

   // border: 1px solid white;
   h2 strong {
      color: $secondary-color;
   }
}

.tooslow-title-links {
   height: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;

   // border: 1px solid yellow;
   a {
      outline: none;
   }
   img {
      height: 2rem;
      margin-left: 1.5rem;
      transform: scale(1);
      transition: transform 150ms ease-in;

      // border: 1px solid yellow;
   }
   img:hover {
      transform: scale(1.25);
      transition: transform 150ms ease-in;
   }
}

@media (max-width: 30rem) {
   .tooslow-title-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
}

.tooslow-screenshot {
   grid-row: 3/4;
   grid-column: 1/2;
   width: 32rem;
   padding: 1rem;

   justify-self: center;
   img {
      width: 100%;
      height: 18rem;
      border-radius: .5rem;
   }
}

// When width < 35rem
@media (max-width: 35rem) {
   .tooslow-screenshot {
      width: calc(100% - 2rem);
      img {
         height: auto;
      }
   }
}

.tooslow-info {
   padding: 0 2rem;
   h3 {
      padding: 1rem 0;
   }
   strong {
      color: $secondary-color;
   }
   p {
      margin: 1rem 0;
      // padding: 0 1rem;
      strong {
         font-weight: bold;
         color: white;
      }
   }
}

.tooslow-info-1 {
   grid-row: 4/5;
   grid-column: 1/2;
}

.tooslow-info-2 {
   grid-row: 6/7;
   grid-column: 1/2;
}

.tooslow-info-3 {
   grid-row: 5/6;
   grid-column: 1/2;
}
