$min-width: 20rem;
$max-width: 60rem;

.dps-container {
   width: 100vw;
   min-height: 100vh;
}

.dps-content-container {
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: 10rem repeat(6, auto);
   grid-template-columns: minmax($min-width, 100%);

   border: 2px solid yellow;
}

.dps-title {
   grid-row: 2/3;
   grid-column: 1/2;
   padding: 0rem 1rem;
}

.dps-screenshot {
   grid-row: 3/4;
   grid-column: 1/2;
   width: 32rem;
   padding: 1rem;

   justify-self: center;
   img {
      width: 100%;
   }
}

.dps-info {
   padding: 1rem;
   h3 {
      padding-bottom: 2rem;
   }
   strong {
      color: $secondary-color;
   }
}

.dps-info-1 {
   grid-row: 4/5;
   grid-column: 1/2;
}

.dps-info-2 {
   grid-row: 5/6;
   grid-column: 1/2;
}