// =====================================
//
//             HEADER
//
// =====================================

.section-1 {
   grid-row: 1/2;
   grid-column: 1/2;

   // border: 2px solid white;
}

.header-container {
   height: 100%;
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: minmax($min-width, $max-width);

   // border: solid 2px yellow;
}

.header-title {
   grid-row: 2/3;
   grid-column: 1/2;
   padding: 0 3rem;

   display: flex;
   flex-direction: column;

   h3 {
      font-size: 1.65rem;
      color: $secondary-color;
   }
   img {
      width: 6rem;
   }

   // border: 2px solid white;
}

// When width < 47.5rem
@media (max-width: 47.5rem) {
   .header-title {
      padding: 0 2rem;
      h1 {
         font-size: 3rem;
      }
      h3 {
         font-size: 1.3rem;
      }
   }
}

// When width < 30rem
@media (max-width: 30rem) {
   .header-title {
      align-items: center;
   }
}

.preload-title-name {
   display: flex;
   @for $i from 0 through 13 {
      h1:nth-child(#{$i}) {
         @include BounceUpDelay(#{$i/8}s);
      }
   }
}

.postload-title-name {
   display: flex;
   h1:hover {
      color: $secondary-color;
      @include BounceUpDefault();
   }
}

.subtitle-section {
   display: flex;
   align-items: center;

   // border: 1px solid white;
}

.header-logo-container {
   display: flex;
}

.header-logo {
   padding-top: 1rem;
   width: 1.5rem;
   margin-right: 1rem;
   // margin-left: 1rem;
   position: relative;
   img {
      width: 100%;
   }

   // border: 1px solid white;
}

.header-logo-overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   opacity: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: opacity ease-out .5s;
}

.header-logo-overlay:hover {
   opacity: 1;
}

.arrow-container {
   margin-top: auto;
   margin-bottom: 1rem;

   display: flex;
   justify-content: flex-end;
   @include BounceInfinite();

   // border: 1px solid white;
   img {
      width: 1.25rem;
      height: 2rem;
   }
}

