// =====================================
//
//             PROJECTS
//
// =====================================

.section-3 {
   grid-row: 3/4;
   grid-column: 1/2;

   // border: 2px solid white;
}

.projects-container {
   min-height: 100%;
   max-width: $max-width;
   margin: 0 auto;

   display: grid;
   grid-template-rows: minmax(7.5rem, auto) repeat(3, auto);
   grid-template-columns: minmax($min-width, $max-width);

   // border: 2px solid yellow;
}

.main-title {
   grid-row: 1/2;
   grid-column: 1/2;

   // border: 1px solid white;
}

.project-container {
   display: grid;
   grid-template-rows: 1rem minmax(auto, 14rem) 2rem;
   grid-template-columns: repeat(2, 50%);
   margin: 0 .5rem;

   // border: 2px solid green;
}

.project-info-container {
   height: 100%;
   max-width: 30rem;
   z-index: 1;
   // align-self: center;

   display: grid;
   grid-template-rows: 20% 10% 50% minmax(2.5rem, 15%);

   // border: 1px solid yellow;
}

.project-title {
   position: relative;
   h3 {
      font-size: 2.3rem;
      font-weight: 900;
   }
}

.project-title::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: $secondary-color;

   transform: scaleX(0);
   transform-origin: right;
   transition: transform 200ms ease-in;
}

.project-title:hover::after {
   transform: scaleX(1);
   transform-origin: left;
}

.project-description {
   // height: 100%;

   padding: 1rem 1rem;
   align-self: center;

   background: $grey-color;
   border-radius: .4rem;
   // border: 1px solid white;

   z-index: 1;
}

.project-tools {
   div {
      width: 2rem;
      display: flex;
      align-items: center;
   }
}

.project-preview-container {
   height: 100%;
   width: 30rem;
   position: relative;
   opacity: 0.8;

   // border: 1px solid white;
   img {
      border-radius: .5rem;
      width: 100%;
   }
}

// When width < 60rem
@media (max-width: 60rem) {
   .project-container {
      grid-template-rows: 1rem minmax(auto, 14rem) 2rem;
      grid-template-columns: repeat(2, 50%);
   }
}

// When width < 47.5rem
@media (max-width: 47.5rem) {
   .main-title {
      width: 30rem;
      margin: 0 auto;
   }
   .project-container {
      grid-template-rows: 1.5rem repeat(2, minmax(auto, 14rem)) 1rem;
      grid-template-columns: 100%;
   }
}

// When width < 31rem (30rem + 0.5margin on each side)
@media (max-width: 31rem) {
   .project-preview-container {
      width: 100%;
   }
}

// When width < 24.5rem
@media (max-width: 25.25rem) {
   .project-description {
      padding: .5rem 1rem;
   }
}

// =====================================
//
//             PROJECT 1
//
// =====================================

.project1-container {
   grid-row: 2/3;
   grid-column: 1/2;

   // border: 2px solid green;
}

.project1-info-container {
   grid-row: 2/3;
   grid-column: 2/3;
}

.project1-title {
   grid-row: 1/2;
   grid-column: 1/2;
   height: 100%;
   margin-right: 1rem;

   display: flex;
   align-items: center;
   justify-self: flex-end;

   // border: 1px solid white;
}

.project1-subtitle {
   grid-row: 2/3;
   grid-column: 1/2;
   height: 100%;

   padding-right: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;

   // border: 1px solid white;
}

.project1-description {
   grid-row: 3/4;
   grid-column: 1/2;
   text-align: right;

   box-shadow: -4px 4px 10px rgba(0, 0, 0, 1);
}

.project1-tools {
   grid-row: 4/5;
   grid-column: 1/2;
   // height: 100%;

   padding-right: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;

   // border: 1px solid white;
   h4 + * {
      margin-left: 1rem;
   }
}

.project1-preview-container {
   grid-row: 2/3;
   grid-column: 1/2;
   margin-left: 1rem;

   img {
      box-shadow: -4px 4px 10px rgba(0, 0, 0, 1);
   }
}

.project1-preview-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;

   transition: opacity 0.25s;
   text-decoration: none;
   h3 {
      font-size: 2rem;
   }
}

.project1-preview-overlay:hover {
   opacity: 1;
}

// When width < 60rem
@media (max-width: 60rem) {
   .project1-info-container {
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: right;
   }
   
   .project1-preview-container {
      grid-row: 2/3;
      grid-column: 1/2;
   }
}

// When width < 47.5rem // WE ARE CENTERING STUFF
@media (max-width: 47.5rem) {
   .project1-info-container {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
      margin-bottom: 1.5rem;
   }
   
   .project1-preview-container {
      grid-row: 3/4;
      grid-column: 1/2;
      justify-self: center;
      margin-left: 0;
   }
}

// =====================================
//
//             PROJECT 2
//
// =====================================

.project2-container {
   grid-row: 3/4;
   grid-column: 1/2;
}

.project2-info-container {
   grid-row: 2/3;
   grid-column: 1/2;
}

.project2-title {
   grid-row: 1/2;
   grid-column: 1/2;
   height: 100%;
   margin-left: 1rem;

   display: flex;
   align-items: center;
   justify-self: flex-start;

   // border: 1px solid white;
}

.project2-subtitle {
   grid-row: 2/3;
   grid-column: 1/2;
   height: 100%;

   padding-left: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;

   // border: 1px solid white;
}

.project2-description {
   grid-row: 3/4;
   grid-column: 1/2;
   text-align: left;

   box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.project2-tools {
   grid-row: 4/5;
   grid-column: 1/2;
   height: 100%;

   padding-left: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;

   // border: 1px solid white;
   * + h4 {
      margin-left: 1rem;
   }
}

.project2-preview-container {
   grid-row: 2/3;
   grid-column: 2/3;
   margin-left: -1rem;

   img {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
   }
}

.project2-preview-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;

   transition: opacity 0.25s;
   text-decoration: none;
   h3 {
      font-size: 2rem;
   }
}

.project2-preview-overlay:hover {
   opacity: 1;
}

// When width < 60rem
@media (max-width: 60rem) {
   .project2-info-container {
      grid-row: 2/3;
      grid-column: 1/3;
   }
   
   .project2-preview-container {
      grid-row: 2/3;
      grid-column: 2/3;
      justify-self: right;
   }
}

// When width < 47.5rem // WE ARE CENTERING STUFF
@media (max-width: 47.5rem) {
   .project2-info-container {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
      margin-bottom: 1.5rem;
   }
   
   .project2-preview-container {
      grid-row: 3/4;
      grid-column: 1/2;
      justify-self: center;
      margin-left: 0;
   }
}

// =====================================
//
//             PROJECT 3
//
// =====================================

.project3-container {
   grid-row: 4/5;
   grid-column: 1/2;

   // border: 2px solid green;
}

.project3-info-container {
   grid-row: 2/3;
   grid-column: 2/3;
}

.project3-title {
   grid-row: 1/2;
   grid-column: 1/2;
   height: 100%;
   margin-right: 1rem;
   
   display: flex;
   align-items: center;
   justify-self: flex-end;

   // border: 1px solid white;
}

.project3-subtitle {
   grid-row: 2/3;
   grid-column: 1/2;
   height: 100%;

   padding-right: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;

   // border: 1px solid white;
}

.project3-description {
   grid-row: 3/4;
   grid-column: 1/2;
   text-align: right;

   box-shadow: -4px 4px 10px rgba(0, 0, 0, 1);
}

.project3-tools {
   grid-row: 4/5;
   grid-column: 1/2;
   // height: 100%;

   padding-right: 1rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;

   // border: 1px solid white;
   h4 + * {
      margin-left: 1rem;
   }
}

.project3-preview-container {
   grid-row: 2/3;
   grid-column: 1/2;
   margin-left: 1rem;
   img {
      box-shadow: -4px 4px 10px rgba(0, 0, 0, 1);
   }
}

.project3-preview-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;

   transition: opacity 0.25s;
   text-decoration: none;
   h3 {
      font-size: 2rem;
   }
}

.project3-preview-overlay:hover {
   opacity: 1;
}

// When width < 60rem
@media (max-width: 60rem) {
   .project3-info-container {
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: right;
   }
   
   .project3-preview-container {
      grid-row: 2/3;
      grid-column: 1/2;
   }
}

// When width < 47.5rem // WE ARE CENTERING STUFF
@media (max-width: 47.5rem) {
   .project3-info-container {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
      margin-bottom: 1.5rem;
   }
   
   .project3-preview-container {
      grid-row: 3/4;
      grid-column: 1/2;
      justify-self: center;
      margin-left: 0;
   }
}