@mixin BounceUp() {
   animation: Bounce 1s ease-out 1;
}

@mixin BounceInfinite() {
   animation: BounceRepeat .75s ease-in-out infinite;
}

@keyframes Bounce {
   0%, 30%, 50%, 100% {
      transform: translateY(0);
   }
   20% {
      transform: translateY(-30px);
   }
   40% {
      transform: translateY(-15px);
   }
   60% {
      transform: translateY(-5px);
   }
}

@keyframes BounceRepeat {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-20px);
   }
   100% {
      transform: translateY(0);
   }
}

@mixin fade-in() {
   // name - duration - timing function - delay - count - direciton 
   animation: fadeInOpacity 2s ease-in 1;
   opacity: 1;
}

@mixin fade-out($duration) {
   opacity: 0;
   animation: fadeOutOpacity $duration ease-out 1;
}

@keyframes fadeInOpacity {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fadeOutOpacity {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}