@import './colors';

// =====================================
//
//             TYPOGRAPHY
//
// =====================================

h1 {
   font-size: 3.5rem;
   font-weight: bold;
   color: white;
   letter-spacing: -.05em;
}

h2 {
   font-size: 2.75rem;
   font-weight: bold;
   color: white;
   letter-spacing: -.05em;
}

h3 {
   font-size: 2rem;
   font-weight: normal;
   color: white;
   letter-spacing: -.05em;
}

h4 {
   font-size: 1.2rem;
   font-weight: normal;
   color: white;
}

h5 {
   font-size: 1rem;
   font-weight: normal;
   color: $secondary-color;
}

p {
   font-size: 1.2rem;
   font-weight: normal;
   color: white;
}

a, a:hover, a:active, a:focus {
   text-decoration: none;
   outline: none;
}