@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;300&display=swap');

@import './general/fonts';
@import './general/colors';
@import './general/animations';

@import './pages/projectPage';
@import './pages/dps';
@import './pages/2slow';
@import './pages/portfolio';

@import './components/header';
@import './components/intro';
@import './components/projects';
@import './components/contact';
@import './components/footer';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'PT Sans', sans-serif;
}

img {
   display: block;
   max-width: 100%;
}

// =====================================
//
//             LAYOUTS
//
// =====================================

.container {
   width: 100%;
   min-height: 100vh;
}

.homepage-container {
   // max-width: 100vw;
   min-width: 24.5rem;
   height: 100%;
   
   background: black;
   display: grid;
   grid-template-rows: 100vh repeat(4, auto);
   grid-template-columns: minmax($min-width, 100vw);
}

.section-title {
   padding: 1.5rem 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
   // border: 1px solid white;
   h2 {
      font-size: 3.5rem;
   }
   h2 strong {
      color: $secondary-color;
   }
}

@media (max-width: 30rem) {
   .section-title {
      h2 {
         font-size: 3.25rem;
      } 
   }
}

.nav {
   padding: 1rem;
}


