@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;300&display=swap");
h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: -.05em;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: -.05em;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  color: white;
  letter-spacing: -.05em;
}

h4 {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  color: rgba(102, 189, 211, 0.932);
}

p {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

@-webkit-keyframes Bounce {
  0%, 30%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes Bounce {
  0%, 30%, 50%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dps-content-container {
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem minmax(10rem, auto) (auto)[6];
      grid-template-rows: 5rem minmax(10rem, auto) repeat(6, auto);
  -ms-grid-columns: minmax(22.5rem, 100%);
      grid-template-columns: minmax(22.5rem, 100%);
}

.dps-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dps-title h2 strong {
  color: rgba(102, 189, 211, 0.932);
}

.dps-title-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dps-title-links a {
  outline: none;
}

.dps-title-links img {
  height: 2rem;
  margin-left: 1.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.dps-title-links img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

@media (max-width: 30rem) {
  .dps-title-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.dps-screenshot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 32rem;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.dps-screenshot img {
  width: 100%;
  height: 18rem;
  border-radius: .5rem;
}

@media (max-width: 35rem) {
  .dps-screenshot {
    width: calc(100% - 2rem);
  }
  .dps-screenshot img {
    height: auto;
  }
}

.dps-info {
  padding: 0 2rem;
}

.dps-info h3 {
  padding: 1rem 0;
}

.dps-info strong {
  color: rgba(102, 189, 211, 0.932);
}

.dps-info p {
  margin: 1rem 0;
}

.dps-info p strong {
  font-weight: bold;
  color: white;
}

.dps-info-1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.dps-info-2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.dps-info-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.tooslow-content-container {
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem minmax(10rem, auto) (auto)[6];
      grid-template-rows: 5rem minmax(10rem, auto) repeat(6, auto);
  -ms-grid-columns: minmax(22.5rem, 100%);
      grid-template-columns: minmax(22.5rem, 100%);
}

.tooslow-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooslow-title h2 strong {
  color: rgba(102, 189, 211, 0.932);
}

.tooslow-title-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooslow-title-links a {
  outline: none;
}

.tooslow-title-links img {
  height: 2rem;
  margin-left: 1.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.tooslow-title-links img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

@media (max-width: 30rem) {
  .tooslow-title-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tooslow-screenshot {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 32rem;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.tooslow-screenshot img {
  width: 100%;
  height: 18rem;
  border-radius: .5rem;
}

@media (max-width: 35rem) {
  .tooslow-screenshot {
    width: calc(100% - 2rem);
  }
  .tooslow-screenshot img {
    height: auto;
  }
}

.tooslow-info {
  padding: 0 2rem;
}

.tooslow-info h3 {
  padding: 1rem 0;
}

.tooslow-info strong {
  color: rgba(102, 189, 211, 0.932);
}

.tooslow-info p {
  margin: 1rem 0;
}

.tooslow-info p strong {
  font-weight: bold;
  color: white;
}

.tooslow-info-1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.tooslow-info-2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.tooslow-info-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.section-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.header-container {
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: minmax(22.5rem, 60rem);
      grid-template-columns: minmax(22.5rem, 60rem);
}

.header-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title h3 {
  font-size: 1.65rem;
  color: rgba(102, 189, 211, 0.932);
}

.header-title h3 strong {
  color: rgba(102, 189, 211, 0.932);
}

@media (max-width: 47.5rem) {
  .header-title {
    padding-left: 2rem;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .header-title h3 {
    font-size: 1.3rem;
  }
}

.title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-name h1:hover {
  color: rgba(102, 189, 211, 0.932);
  -webkit-animation: Bounce 1s ease-out 1;
          animation: Bounce 1s ease-out 1;
}

.title-b h1 {
  color: rgba(102, 189, 211, 0.932);
}

.title-b h1:hover {
  color: white;
  -webkit-animation: Bounce 1s ease-out 1;
          animation: Bounce 1s ease-out 1;
}

.section-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.projects-container {
  min-height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(7.5rem, auto) (auto)[3];
      grid-template-rows: minmax(7.5rem, auto) repeat(3, auto);
  -ms-grid-columns: minmax(22.5rem, 60rem);
      grid-template-columns: minmax(22.5rem, 60rem);
}

.main-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1rem auto 2rem;
      grid-template-rows: 1rem auto 2rem;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  margin: 0 .5rem;
}

.project-info-container {
  max-width: 30rem;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 10% 55% 15%;
      grid-template-rows: 20% 10% 55% 15%;
}

.project-title {
  position: relative;
}

.project-title h3 {
  font-size: 2.3rem;
  font-weight: 900;
}

.project-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(102, 189, 211, 0.932);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.project-title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.project-description {
  padding: 1rem 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #363636;
  border-radius: .4rem;
  z-index: 1;
}

.project-tools a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.project-tools img {
  height: 2rem;
  margin-left: 1.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.project-tools img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.project-preview-container {
  height: 100%;
  width: 30rem;
  position: relative;
  opacity: 0.8;
}

.project-preview-container img {
  border-radius: .5rem;
  width: 100%;
}

@media (max-width: 60rem) {
  .project-container {
    -ms-grid-rows: 1rem minmax(auto, 14rem) 1.5rem;
        grid-template-rows: 1rem minmax(auto, 14rem) 1.5rem;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 47.5rem) {
  .main-title {
    width: 30rem;
    margin: 0 auto;
  }
  .project-container {
    -ms-grid-rows: 1.5rem (minmax(auto, 14rem))[2] 1rem;
        grid-template-rows: 1.5rem repeat(2, minmax(auto, 14rem)) 1rem;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 31rem) {
  .project-preview-container {
    width: 100%;
  }
}

@media (max-width: 24.5rem) {
  .project-description {
    padding: .5rem 1rem;
  }
}

.project1-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project1-info-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.project1-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.project1-subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project1-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: right;
  -webkit-box-shadow: -4px 4px 10px black;
          box-shadow: -4px 4px 10px black;
}

.project1-tools {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project1-tools * + * {
  margin-left: 1rem;
}

.project1-preview-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 1rem;
}

.project1-preview-container img {
  -webkit-box-shadow: -4px 4px 10px black;
          box-shadow: -4px 4px 10px black;
}

.project1-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  text-decoration: none;
}

.project1-preview-overlay h3 {
  font-size: 2rem;
}

.project1-preview-overlay:hover {
  opacity: 1;
}

@media (max-width: 60rem) {
  .project1-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .project1-preview-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 47.5rem) {
  .project1-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 1.5rem;
  }
  .project1-preview-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
  }
}

.project2-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project2-info-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project2-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
}

.project2-subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project2-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: left;
  -webkit-box-shadow: 4px 4px 10px black;
          box-shadow: 4px 4px 10px black;
}

.project2-tools {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project2-tools h4 + h4 {
  margin-left: 1rem;
}

.project2-preview-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-left: -1rem;
}

.project2-preview-container img {
  -webkit-box-shadow: 4px 4px 10px black;
          box-shadow: 4px 4px 10px black;
}

.project2-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  text-decoration: none;
}

.project2-preview-overlay h3 {
  font-size: 2rem;
}

.project2-preview-overlay:hover {
  opacity: 1;
}

@media (max-width: 60rem) {
  .project2-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .project2-preview-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media (max-width: 47.5rem) {
  .project2-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 1.5rem;
  }
  .project2-preview-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
  }
}

.project3-container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.project3-info-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.project3-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.project3-subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project3-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: right;
  -webkit-box-shadow: -4px 4px 10px black;
          box-shadow: -4px 4px 10px black;
}

.project3-tools {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project3-tools h4 + h4 {
  margin-left: 1rem;
}

.project3-preview-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: 1rem;
}

.project3-preview-container img {
  -webkit-box-shadow: -4px 4px 10px black;
          box-shadow: -4px 4px 10px black;
}

.project3-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  text-decoration: none;
}

.project3-preview-overlay h3 {
  font-size: 2rem;
}

.project3-preview-overlay:hover {
  opacity: 1;
}

@media (max-width: 60rem) {
  .project3-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .project3-preview-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 47.5rem) {
  .project3-info-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 1.5rem;
  }
  .project3-preview-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
  }
}

.section-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.skills-container {
  min-height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50vh auto minmax(auto, 1fr);
      grid-template-rows: 50vh auto minmax(auto, 1fr);
  -ms-grid-columns: minmax(22.5rem, 60rem);
      grid-template-columns: minmax(22.5rem, 60rem);
}

.about-me {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-me h3 {
  font-size: 1.75rem;
}

.skills-title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.technolgies-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 0 .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem auto;
      grid-template-rows: 4rem auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
}

.technologies-headings {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-1 {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  position: relative;
  z-index: 0;
}

.button-1:focus {
  outline: none;
}

.button-on {
  color: white;
  background: transparent;
  border-bottom: 2px solid rgba(102, 189, 211, 0.932);
}

.button-off {
  color: white;
  background: transparent;
}

.button-off::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.button-off:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: currentColor;
}

.technology-items-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.technology-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.technology-item {
  width: 7.5rem;
  height: 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology-item img {
  height: 4rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.technology-item img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}

.section-4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.contact-container {
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7.5rem minmax(auto, 10rem) auto;
      grid-template-rows: 7.5rem minmax(auto, 10rem) auto;
  -ms-grid-columns: minmax(22.5rem, 60rem);
      grid-template-columns: minmax(22.5rem, 60rem);
}

.contact-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.contact-message {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact-message h3 {
  font-size: 3rem;
  text-align: center;
}

.contact-message:hover h3 {
  opacity: 0;
  -webkit-animation: fadeOutOpacity 1s ease-out 1;
          animation: fadeOutOpacity 1s ease-out 1;
}

.contact-message::after {
  content: "or else";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 3rem;
  letter-spacing: -.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.contact-message:hover::after {
  -webkit-animation: fadeInOpacity 2s ease-in 1;
          animation: fadeInOpacity 2s ease-in 1;
  opacity: 1;
}

@media (max-width: 30rem) {
  .contact-message {
    padding: 2rem 1.5rem;
  }
  .contact-message h3 {
    font-size: 2.5rem;
  }
}

.contact-form {
  max-width: 50rem;
  width: 100%;
  padding: 3rem 5rem 3rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(auto, 3rem))[2] minmax(auto, 10rem) auto;
      grid-template-rows: repeat(2, minmax(auto, 3rem)) minmax(auto, 10rem) auto;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contact-form input[type='text'], .contact-form textarea {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  font-size: 1rem;
  border: none;
  background: #363636;
  color: white;
}

.contact-form input[type='text']:focus, .contact-form textarea:focus {
  outline: none;
}

.form-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.form-email {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.form-subject {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}

.form-message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  padding-top: .75rem;
}

.form-submit {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 3rem;
  width: 10rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background: rgba(102, 189, 211, 0.932);
  border: none;
}

.form-item-container {
  position: relative;
}

.form-item-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(102, 189, 211, 0.932);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.form-item-container:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (max-width: 40rem) {
  .contact-form {
    padding: 3rem 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (minmax(auto, 3rem))[3] minmax(auto, 10rem) auto;
        grid-template-rows: repeat(3, minmax(auto, 3rem)) minmax(auto, 10rem) auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 1rem 0;
  }
  .form-name {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .form-email {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .form-subject {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .form-message {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .form-submit {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 30rem) {
  .contact-form {
    padding: 3rem 1.5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.homepage-container {
  min-width: calc($min-width + 2rem);
  height: 100%;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh (auto)[4];
      grid-template-rows: 100vh repeat(4, auto);
  -ms-grid-columns: minmax(22.5rem, 100vw);
      grid-template-columns: minmax(22.5rem, 100vw);
}

.section-title {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title h2 {
  font-size: 3.5rem;
}

.section-title h2 strong {
  color: rgba(102, 189, 211, 0.932);
}

@media (max-width: 30rem) {
  .section-title h2 {
    font-size: 3.25rem;
  }
}

.nav {
  padding: 1rem;
}
/*# sourceMappingURL=styles.css.map */